<body>

  <div class="heading">
    <br>
  <h1>LITE FOOTERS DANCE CREW</h1>
</div>

<div class="container">
 
<div class="content">
<h2 >To join with Us</h2>

Your Name :<input type="text">
<br><br>
Your Email :<input type="Email">
<br><br>
Your contact:<input type="number">
<br><br>
Select Your Function:<select><option>Marraige</option><option>Birthday Party</option><option>surprice Party</option><option>DJ Time</option><option>Office Party</option></select>
<br><br>
Address:<input type="Address">
<br><br>
Select Your Function Date:<input type="date">
<br><br>
Timing:<input type="time">
<br><br>
<button class="btn" type="button" >Book Now</button>
</div>
</div>
<br><br>
<div class="btn2">
<button id="btnstyle">CHANGE</button>
<button id="btnstyle">UPDATE</button>
<button id="btnstyle">DELETE</button>
<button id="btnstyle">FIND</button>
</div>
<br><br>
<div class="empty">
  <h1><i>Make some Memories!</i></h1>
</div>
</body>
