<div class="container">
  <h1>TEAM BLACK DANCERS</h1>
  <div class="btn1">
  <button id="btn1">BOOK NOW</button>
 </div>
 
 <br>
 <div class="form">
 Your Name <input type="text">  
 <br><br>
 Your Contact Number <input type="number">   
 <br><br>
 Your Email <input type="email"> 
 <br><br>
 <button id="btn2" (click)="changeSelect()">Select Your Function</button>
 <br><br>
 <div *ngIf="select"[ngStyle]="myStyle">
 <ul>
  <li *ngFor="let event of Events"(click)="setSelectedItem(event)">{{event}}</li>
 </ul>
 
<br><b [ngClass]="myClass">You Have Selected : {{SelectedEvent}}</b>
<br><br><br>
<div [ngSwitch]="SelectedEvent">
  <font color="yellow" *ngSwitchCase=" 'Marriage' ">Marriage</font>
  <font color="yellow" *ngSwitchCase=" 'BirthdayParty' ">BirthdayParty</font>
  <font color="yellow" *ngSwitchCase=" 'Family reunion' ">Family reunion</font>
  <font color="yellow" *ngSwitchCase=" 'Friends reunion' ">Friends reunion</font>
  <font color="yellow" *ngSwitchCase=" 'Office Fun' "> Office Fun</font>
  <font color="yellow" *ngSwitchDefault>Invalid</font>
  
 </div>
 </div>
 
 </div>
 </div>
