<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to Angular</h1>
  <h1>Interpolation Example</h1>
  <b>
  My Name: {{ name }}
  <br>
  My Age: {{ age }}
  <br>
  Email: <input type="text" value="{{ email }}"/>
  <br>
  Addition: {{ getAddition(10,20 )}}
</b>
<br><br>


<h1>Property Binding Example</h1>
<b>
<font [color]="txtcolor">
My Name: <input type="text" [value]="name">
<br>
My Age: <input type="text" [value]="age">
<br>
Email: <input type="text" [value]="email">
<br>
Addition: <input type="text" [value]="getAddition(10,20)">
<br><br>

<h1>Event Bi</h1>
<img [src]="imgpath" width="150px" height="150px">
</font>
</b>
<br><br>

<h1>Two way Data Binding Example</h1>
Enter Your First Name<input type="text " [(ngmodule)]="fname" />
<br>
<b>Welcome {{fname}}</b>

</body>

<!--
<app-my-project></app-my-project>-->